.footer{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: bisque;
}
img {
    height: 60px;
    width: 95px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px
}
.footer-title {
    padding-right: 40px;
    padding-top: 15px;
}
.footer-link {
    padding-right: 20px;
    padding-top: 18px;
}
#navbar {
    padding-right: 20px;
    display: flex;
    flex-direction: row;
}
p {
    font-size: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 20px;
}