#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: rgb(211, 208, 208);
  color: black;
  overflow-x: hidden; 
  width: 1000px;
  font-family: cursive;
}

.routes-container{
  width: 1000px;
}

.Carousel{
  width: 100%;
  height: 1000px; 

}
header {
  background-color: rgba(202, 10, 10, 0);
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2.0em;
}

/* NAV */
/* .Nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: right;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px 20px;
} */

/* .Nav .menu-links {
  display: fixed; /* Initially hide the links */
/* }

.Nav ul {
  display: flex;
  flex-wrap: wrap;
  float: right;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
} */ */

/* .Nav ul li {
  list-style-type: none;
  padding-right: 10px;
}

.hamburger {
  display: flex;
  z-index: 6;
}

.Nav.open ul {
display: inline;
background-color: blue;
height: 100vh;
width: 50vw;
margin-top: 50px;
position: fixed;
} */
/* End of NAV */

/* Hamburger */
/* .hamburger-icon {
  user-select: none;
  display: block;
  cursor: pointer;
  font-size: 24px;
  margin-right: 10px;
  padding-right: 10px;
}

.menu-links {
  display: none;
}

.menu-links.open {
  display: flex;
  flex-direction: column;
  background-color: #333;
  position: absolute;
  top: 69px; 
  right: 25px;
  padding: 20px;
}

.menu-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  margin: 10px 0;
}

.menu-links a:hover {
  color: blue;
} */

/* 
.burger1 {
  transform: rotate(0); /* Default rotation 
}

.burger2 {
  transform: translateX(0); /* Default translation */
  /*opacity: 1; /* Default opacity 
}

.burger3 {
  transform: rotate(0); /* Default rotation 
}

/* Add these styles for changes when isOpen is true 
.hamburger-icon.isOpen .burger1 {
  transform: rotate(45deg);
}

.hamburger-icon.isOpen .burger2 {
  transform: translateX(100%);
  opacity: 0;
}

.hamburger-icon.isOpen .burger3 {
  transform: rotate(-45deg);
}
End of Hamburger */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
